@CHARSET "UTF-8";
@media only screen and (min-width:1200px) {
    /* banner */
    #myCarousel .carousel-inner .item .itemText h1 {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #myCarousel .carousel-inner .item .itemText h5 {
        font-size: 30px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    /* 锟斤拷锟斤拷锟斤拷锟� */
    .section-a {
        padding-top: 50px;
    }
    .section-a-bottom {
        padding-bottom: 40px;
    }

    /* banner */
    #myCarousel .carousel-inner .item .itemText h1 {
        font-size: 42px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #myCarousel .carousel-inner .item .itemText h5 {
        font-size: 22px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .fullpage-section-a-title {
        font-size: 20px;
    }
    .section-a {
        padding-top: 30px;
    }
    .section-a-bottom {
        padding-bottom: 20px;
    }
    .section-a-title {
        letter-spacing: 2px;
        font-size: 20px;
    }
    .section-b {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:767px) {
    /* fullpage */
    .fullPage-section .line-right {
        border-right: 0;
        border-bottom: 1px solid #fff;
    }
    .fullpage-footer-padding {
        padding-bottom: 100px
    }
    .fullpage-section-a-title {
        font-size: 18px
    }

    /* 锟斤拷锟斤拷锟斤拷 */
    .navbar {
        height: 50px;
        padding-top: 0
    }
    .switch-Language {
        line-height: 50px;
    }
    .nav-logo img {
        height: 30px;
        width: auto;
    }
    .navbar-nav {
        padding-top: 0;
        margin-top: 0;
    }
    .navbar-toggle {
        border: 1px solid #999999;
    }
    .navbar-toggle .icon-bar {
        background-color: #999999;
    }
    .navigation .navbar-nav>li>a {
        filter: Alpha(opacity = 30);
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
    }
    .navigation .navbar-nav>li>a:hover {
        filter: Alpha(opacity = 30);
        background-color: rgba(255, 255, 255, 0.3);
        color: #cccccc;
    }

    /* 锟斤拷锟斤拷锟斤拷锟� */
    .section-a {
        padding-top: 10px;
    }
    .section-a-title {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .border-line {
        border-right: none;
    }
    .solution-nav ul>li, .aboutUs-nav ul>li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* 锟斤拷锟脚讹拷态 */
    .bottom {
        margin-bottom: 20px;
    }

    /* footer */
    .code {
        max-width: 98px;
        max-height: 98px;
    }
    .section-b {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section-a-bottom {
        padding-bottom: 20px;
    }

    /* 锟斤拷锟斤拷锟斤拷锟斤拷 */
    .aboutUs-nav {
        border-right: transparent;
    }
    .aboutUs-nav>ul>li:hover {
        background: #efefef;
    }

    /* 锟斤拷锟斤拷锟斤拷锟� */
    #logoBox li {
        width: 165px;
    }

    /* 锟斤拷聘 */
    .tab-content .line-bottom {
        border: 0;
    }
    .zhaopin-btn {
        width: 80px;
        height: 30px;
        margin-top: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width:414px) {
    .fullpage-footer-padding {
        padding-bottom: 40px
    }
    .fullpage-code {
        display: none;
    }
    .footer h5 {
        font-size: 12px;
    }
}